aiohttp>=3.9,<4.0
Flask>=3.0,<4.0
cryptography>=42.0,<48.0
curl_cffi>=0.7
discord.py>=2.6.0,<3.0
Pillow>=10.0,<13.0
psutil>=5.9,<8.0
pymongo>=4.6,<5.0
PyInstaller>=6.10,<7.0
requests>=2.31,<3.0
websocket-client>=1.7,<2.0
websockets>=12.0,<16.0
urllib3>=2.0,<3.0
wreq>=0.12
modifyself @ git+https://github.com/sniffy-furry/modifyself.git@a73a469845f455edd1893f8e6326393bcde445f0
